<?xml version="1.0" encoding="UTF-8"?>
<!-- Unpack the *-ctl-scripts.zip archive in the TE_BASE/scripts directory -->
<!-- Add this entry to TE_BASE/config.xml (//organization/standard) -->
<organization>
  <name>OGC</name>
  <standard>
    <name>SWE Common Data Model Encoding Standard</name>
    <version>
      <name>${spec-version}</name>
      <suite>
        <namespace-uri>http://www.opengis.net/cite/swecommon20</namespace-uri>
        <prefix>tns</prefix>
        <local-name>ets-swecommon20-${version}</local-name>
        <title>SWE Common Data Model Encoding Standard</title>
        <description>Describe scope of testing.</description>
        <BasicConformanceClasses>
		  <conformanceClass>org.opengis.cite.swecommon20.level1.CoreConcept</conformanceClass>
		</BasicConformanceClasses>
      </suite>
      <revision>
        <name>${version}</name>
        <status>Beta</status>
        <sources>
          <source>swecommon20/${spec-version}/ctl</source>
        </sources>
        <webdir>swecommon20/${spec-version}/site</webdir>
      </revision>
    </version>
  </standard>
</organization>
